# Linux
*~

# Mac OS X
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.settings/
.cproject
.project

# Cursal Development Kit
/bin/
/build/
/doc/
/lib/
/share/
/thirdparty/
/tools/bin/sublicense.rb
/Test/
